<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Read and Review</title>
</head>

<body>
    <nav>
        <h4>ReadnReview</h4>
        <ul>            
            <li><a href="/bookshops">Bookshop</a></li>
            <li><a href="/books">BooksList</a></li>
            <li><a href="/my_list">My List</a></li>
            <li><a href="/user">My Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
            <img src={{cover_img}} alt="..." style="width: 400px; height:600px">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div style="display: flex; justify-content:space-between">
                        <div>
                            <h4 class="card-title">{{title}}</h4>
                            <h5 class="card-title"><em>{{author}}</em></h5><br>
                        </div>
                        {{#if fav}}
                        <form action={{list_link}} method="post">
                            <input type="submit" name="add_to_list" value="Add to My list" class="btn btn-danger" />
                        </form>
                        {{else}}
                        <form action={{remove_link}} method="post">
                            <input type="submit" name="remove_from_list" value="Remove from My list" class="btn btn-danger" />
                        </form>
                        {{/if}}
                    </div>
                    
                    <p class="card-text">{{synopsis}}</p>
                    <p class="card-text"><small class="text-muted">Publication : {{publication_name}}</small></p>
                </div>
                <hr>
                {{#if rating}}
                <h5>Average rating: {{rating}} stars</h5>
                {{else}}
                <h5 class="card-title">No ratings yet!</h5>
                {{/if}}
                <hr>
                {{#if reviews}}
                    <h5>Reviews</h5>
                    <ul>
                        {{#each reviews}}
                            <li>{{username}}: {{review}}</li>
                        {{/each}}
                    </ul> 
                {{else}}
                    <h5>No reviews yet!</h5>
                {{/if}}
                <hr>
                
                <div class="row">
                    <div class="col-sm">
                        <form method="POST" action={{add_rating}}>
                            <div class="form-group">
                                <label for="rating" class="form-label">Your rating:</label>
                                <input type="number" min=1 max=5 class="form-control" id="rating" name="rating" placeholder="Rate the book(1-5)" style="width:min-content;">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Add rating</button>
                        </form>
                    </div>
                    <div class="col-sm">
                        <form method="POST" action={{add_review}}>
                            <div class="form-group" style="padding-right: 10px;">
                                <label for="rating" class="form-label">Your review:</label>
                                <input type="text" class="form-control" id="review" name="review" placeholder="Write a review in uder 500 characters" >
                            <br>
                            <button type="submit" class="btn btn-primary">Add Review</button>
                        </form>
                    </div>
                </div>
                

            </div>
            
            
                

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>